.playlist-find
  img
    width 100%
  h1
    font-size 12px
    font-weight normal
    color #2a2e2d
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2
    overflow hidden
    line-height 1.2
    margin 0 3px
  p
    font-size 10px
    color #6c6e6d
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2
    overflow hidden
    line-height 1.2
    margin 0 3px

