{
  "presets": [
    "@vue/app"
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}