ul.single-list
  list-style none
  li
    padding 5px
    border-bottom 1px solid #e1e5e4
    p.song-name
      font-size 14px
      color #2c302f
      margin-bottom 5px
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 1
      padding-bottom 0
      .transNames
        color #6c6e6d
    p.source
      font-size 12px
      color #6c6e6d

