// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 弹性盒模型横向居中排列
flex-row()
  display flex
  flex-direction row
  align-items center
  justify-content space-between

// 弹性盒模型纵向排列
flex-column()
  display flex
  flex-direction column
  align-items center
  justify-content space-between
