// 颜色定义规范
$color-text-base = #000
$color-text-base-inverse = #fff
$color-text-placeholder = #ccc
$color-text-disabled = #bbb
$color-text-caption = #888
$color-text-paragraph = #333
$color-link = #108ee9
$color-shadow = #808020

// 填充
$fill-base = #fff
$fill-body = #f5f5f9
$fill-tap = #ddd
$fill-header = #b72712
$fill-disabled = #ddd
$fill-mask = #000050
$fill-overlay-inverse = #000080

// 全局
$brand-primary = #108ee9
$brand-primary-tap = #1284d6
$brand-success = #6abf47
$brand-warning = #f86e21
$brand-error = #f4333c
$brand-hot = #f96268
$brand-important = #ff3b30

// 边框
$border-color-base = #ddd

// 字体尺寸
$font-size-icontext = 20px
$font-size-caption-sm = 24px
$font-size-base = 26px
$font-size-subhead = 28px
$font-size-caption = 30px
$font-size-heading = 34px
$font-size-display-sm = 36px
$font-size-display-md = 42px
$font-size-display-lg = 48px
$font-size-display-xl = 60px

// 圆角
$radius-xs = 4px
$radius-sm = 6px
$radius-md = 10px
$radius-lg = 14px

// 边框尺寸
$border-width-sm = 1px
$border-width-md = 2px
$border-width-lg = 4px
