@import "../px2rem/px2rem";
// 文本颜色
// 特别需要强调和突出的文字，按钮和icon
// 如首页三入口与界面相关按钮，icon，提示等
$color-redLight = #ce3d3a
// 重要及文字信息，内容标题信息
// 如Tab名称，歌单名称，大板块标题，类目名称等
$color-text-title =#333
// 小面积使用，用于重要链接文字颜色
$color-link = #477aac
// 用于普通段落信息，用户名，icon等
// 如歌手相关信息，评论用户名，编辑信息，数值等
$color-normal-info = #666
// 辅助，次要的文字信息
// 如列表艺人，专辑，时间等相关信息
$color-aid-detailOne = #888
// 辅助，次要的文字信息，排序等
$color-aid-detailTwo = #999
// 辅助，次要的文字信息，icon等
$color-aid-detailThree = #b2b2b2
// 下载列表及失效列表的icon等
$color-list = #ccc
// 输入框提示
$color-text-placeholder =#ffbeb7

//字体使用
// 用于极少辅助性文字
fontSize-micro()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(27);
  line-height:px2rem(42);
// 用于极少辅助性文字
// 如动态时间，听歌识曲等
fontSize-smallest()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(30);
  line-height:px2rem(45);
// 用于辅助性文字
// 如歌单创建时间，专辑名称，作者名等
fontSize-smaller()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(33);
  line-height:px2rem(48);
// 用于辅助性文字
// 如备注，提示说明等
fontSize-small()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(36);
  line-height:px2rem(51);
// 用于少数重要标题
// 如评论及动态用户名，小标题等
fontSize-base()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(39);
  line-height:px2rem(54);
// 用于大多数文字
// 如评论内容，动态引用等
fontSize-large()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(42);
  line-height:px2rem(57);
// 用于大多数文字
// 如歌单标题，搜索结果等
fontSize-larger()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(45);
  line-height:px2rem(60);
// 用于较为重要的文字或操作按钮
// 如个人主页名称等
fontSize-largest()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(48);
  line-height:px2rem(63);
// 用于导航栏标题
fontSize-jumbo()
  font-family:"思源黑体", Roboto, sans-serif;
  font-size:px2rem(51);
  line-height:px2rem(66);

// 填充
$fill-base = rgba(242,244,245,1)
$fill-line-title = rgba(0,0,0,.05)
$fill-line-list = rgba(0,0,0,.1)
$fill-header = rgba(206,61,58,1)

// 层级
$zIndex-1 = 1
$zIndex-2 = 2
$zIndex-3 = 3
$zIndex-4 = 4
$zIndex-5 = 5
$zIndex-6 = 6
$zIndex-7 = 7
$zIndex-8 = 8
$zIndex-9 = 9

// 圆角
$radius-xs = px2rem(4)
$radius-sm = px2rem(6)
$radius-md = px2rem(10)
$radius-lg = px2rem(14)

