ul.mv-list
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
  margin 0
  padding 0
  li
    padding-top 10px
    flex 0 0 49.5%
    width 0
    img
      width 100%
    h2
      font-size 12px
      font-weight normal
      color #2a2e2d
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 2
      overflow hidden
      line-height 1.2
      margin 0 5px
    p
      font-size 10px
      font-weight normal
      color #838987
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 1
      overflow hidden
      line-height 1.2
      margin 0 5px
