ul.singer-list
  list-style none
  li
    padding-left 5px
  .singer-card
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    img.avatar
      width 0
      flex 1 0 15%
      padding 5px 0
    .singer-name
      flex 1 0 85%
      margin-left 5px
      border-bottom 1px solid #e1e5e4
      align-items center
      align-self stretch
      display flex
      flex-direction row
      justify-content flex-start
      font-size 12px
      .trans
        font-size 12px
        color #6c6e6d

