.album-list-detail
  background-color #fff
  width 100%
  height 100%
  overflow auto
  ul
    list-style none
    li
      padding-left 5px
      .album-card
        height: 67px;
        display flex
        flex-direction row
        justify-content flex-start
        align-items stretch
        img.album-image
          width 0
          flex 2
          padding 5px 0
        .album-info
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex 9
          margin-left 5px
          border-bottom 1px solid #e1e5e4


