h1
  margin 0
.comment-info
  display flex
  flex-direction row
  align-items center
  img
    flex 1 0 20%
    padding 5px
    width 0
    height 100%
  .detail
    flex 1 0 70%
    display flex
    flex-direction column
    justify-content space-around
    padding-top 5px
    padding-bottom 5px
    p
      margin 0
    .title
      color #2a2a2a
      font-size 14px
    .author
      color #5e6261
      font-size 12px
  .back-buttom
    flex 1 0 10%
    align-self stretch
    background url(./go.svg) no-repeat left center
    background-size 100% 100%

