.common-single-card
  display flex
  flex-direction row
  justify-content center
  align-items center
  align-content center
  .index
    flex 1
    color #818584
    text-align center
    font-size 16px
  .single-info
    flex 6
    display flex
    flex-direction column
    border-bottom 1px solid #e5e9e8
    padding-top 5px
    padding-bottom 5px
    .single-name
      color #191b1a
      font-size 16px
    .single-album
      color #818584
      font-size 14px