.mv-info
  padding-top 200px
  .intro
    display flex
    flex-direction column
    p
      display flex
      margin 0
      padding 0 10px
    .name
      font-size 16px
      color #1f2523
      margin-top 15px
    .special
      display block
      margin 10px 0
    span
      font-size 14px
    span.artists
      color #537cb0
      &:after
        content ''
        margin-right 20px
    span.playCount
      color #8c908f
      &:before
        content ''
        margin-left 20px
    .publishTime
      font-size 12px
      margin-bottom 10px
      color #8c908f
    .desc
      font-size 14px
      color #5d6160
  .status
    display flex
    flex-direction row
    justify-content space-around
    align-items center
    text-align: -webkit-center;
    text-align center
    color #8c908f
    margin-top 25px
    margin-bottom 10px
    span
      display block
    span.file
      i
        background url(./file.svg) no-repeat
        background-size: contain
    span.comment
      i
        background url(./comment.svg) no-repeat
        background-size: contain
    span.share
      i
        background url(./share.svg) no-repeat
        background-size: contain
    i
      display inline-block
      width 30px
      height 30px
      cursor pointer

