ul, p
  margin 0
  padding 0
.mv-info
  padding-top 200px
  background-color #f0f4f3
  .intro
    display flex
    flex-direction column
    p
      display flex
      margin 0
      padding 0 10px
    .name
      font-size 14px
      color #1f2523
      margin-top 15px
    .special
      display block
      margin 10px 0
    span
      font-size 12px
    span.artists
      color #537cb0
      &:after
        content ''
        margin-right 20px
    span.playCount
      color #8c908f
      &:before
        content ''
        margin-left 20px
    .publishTime
      font-size 12px
      color #8c908f
    .desc
      font-size 12px
      color #5d6160
    .status
      display flex
      flex-direction row
      justify-content space-around
      align-items center
      text-align: -webkit-center;
      text-align center
      color #8c908f
      margin-top 25px
      padding-bottom 10px
      border-bottom 1px solid #d8dcdb
      span
        display block
      span.file
        i
          background url(./file.svg) no-repeat
          background-size: contain
      span.comment
        i
          background url(./comment.svg) no-repeat
          background-size: contain
      span.share
        i
          background url(./share.svg) no-repeat
          background-size: contain
      i
        display inline-block
        width: 20px;
        height: 25px;
        cursor pointer
  .title
    padding-top 15px
    font-size 14px
    font-weight normal
    color #282c2b
    margin-bottom 0
    &:before
      content '|'
      color #ce3d3e
      font-size 20px
      padding-right 5px
