.recommend-area
  width 100%
  height 100%
  overflow-y auto
  .title
    padding-top 15px
    font-size 14px
    font-weight normal
    color #282c2b
    margin-bottom 0
    &:before
      content '|'
      color #ce3d3e
      font-size 20px
      padding-right 5px
    &:after
      content '>'
      color #848a88
      font-size 20px
      padding-left 5px
  ul
    display flex
    flex-direction row
    justify-content space-between
    flex-flow row wrap
    list-style none
    li
      padding-top 10px
      flex 0 0 33%
      width 0
      img
        width 100%
      h2
        font-size 12px
        font-weight normal
        color #2a2e2d
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden
        line-height 1.2
        margin 0 5px
      p
        font-size 10px
        font-weight normal
        color #838987
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 1
        overflow hidden
        line-height 1.2
        margin 0 5px




