.vue-mv-video-container
  position: relative;
  width: 100%;
  padding-bottom 4px
  .vue-mv-video
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  .vue-mv-contrl-play-btn-area
    position: absolute;
    left 45%
    top 40%
    width 100%
    img
      width 10%
  .vue-mv-control-content
    position absolute
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    left 0
    bottom 4px
    width 100%
    height 40px
    z-index 99999
    .vue-mv-contrl-video-time
      padding: 0 10px;
      .vue-mv-contrl-video-time-text
        color: #fff;
        font-size: 14px;
    .vue-mv-control-fullScreen-btn
      box-sizing content-box
      background: none;
      border: none;
      outline: none;
      width 25px
      height 25px
      padding 0 10px
      img
        width 100%
  .vue-mv-contrl-video-slider
    position: absolute;
    transition: all 0.2s ease-in;
    left: 0;
    width 100%
    height 4px
    z-index: 99999;
    .vue-mv-contrl-video-inner
      position: absolute;
      display: inline-block;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-top -4px;
      background-color: #e92e35;
      z-index: 2;
      cursor: pointer;
      transition: all 16ms;
     .vue-mv-contrl-video-rail
        position: absolute;
        width: 100%;
        height: 4px;
        background #bec2c1
        overflow: hidden;
        .vue-mv-contrl-video-rail-inner
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #e92e35;
          transition: transform .2s;

.vue-mv-contrl-play-btn:hover {
  background-color: rgba(255, 255, 255, 0.27);
}

.vue-mv-video:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}

::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter{
  opacity: 1;
}
.fade-leave {
  opacity: 0;
}
.hide-cursor {
  cursor: none;
}

