.comment
  margin-top 2%
  display flex
  flex-direction column
  .head-info
    display flex
    flex-direction row
    justify-content space-between
    .avatar-image
      flex 1 0 12%
      width 0
      padding 5px
      border-radius 50%
      align-self flex-start
      box-sizing: border-box;
    .user
      flex 1 0 70%
      display flex
      flex-direction column
      justify-content space-around
      box-sizing: border-box;
      .nickname
        color #5f6563
        font-size 12px
      .time
        color #919594
        font-size 10px
    .likedCount
      flex 1 0 12%
      align-self center
      text-align right
      padding-right: 5px;
      color: #919594;
      font-size: 12px;
      box-sizing: border-box;
    .thumb
      flex 1 0 6%
      background url(./zan.png) left center no-repeat
      background-size 90%
      box-sizing: border-box;
  .beReplied
    margin-left 12%
    font-size 14px
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe3e2;
    .beReplied-user
      color #527cac
    .beReplied-area
      margin-top 5px
      margin-bottom 5px
      color #2b2f2e
    .comment-content
      padding 10px 5px
      margin-right 5px
      background-color #fff
      color #828282
  .content
    display block
    padding 5px 10px 10px 0
    margin-left 12%
    color: #252928
    font-size 12px
    border-bottom 1px solid #e4e8e7
