ul
  margin 0
  padding 0
.mv-card
  display flex
  flex-direction row
  justify-content center
  align-items center
  align-content center
  .mv-image
    flex 1 0 25%
    width 0
    color #818584
    padding 5px
  .info
    flex 1 0 75%
    display flex
    flex-direction column
    justify-content space-around
    border-bottom 1px solid #d6dad9
    padding-top 5px
    padding-bottom 5px
    align-self stretch
    p
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 1
    .name
      color #2b312f
      font-size 14px
    .artistName
      color #7a7e7d
      font-size 12px
