@import "../../assets/theme.styl";
.find-page
  position fixed
  width 100%
  height 100%
  top 46px
  .vux-swiper
    height 100%
    overflow initial
    padding-bottom 90px
  .vux-swiper-item
    overflow-y auto

