@import "../../assets/theme.styl";
.find-page
  position fixed
  width 100%
  height 100%
  top 46px
  .vux-swiper
    height 100%
    overflow initial
    padding-bottom 90px
  .vux-swiper-item
    overflow-y auto
// 过渡效果
.fade-enter-active, .fade-leave-active {
  transition: all .4s;
}
.fade-enter, .fade-leave {
  transform: translate(100%, 0);
}
