@import "../../assets/theme.styl";
.view-tabs
  background-color #fff!important
  color rgba(0,0,0,.87)
  >.mu-tab-link
    color rgba(102,102,102,1)
  >.mu-tab-active
    color: primaryColor
.fixed-bar
  position fixed
  width 100%
  top 56px
  left 0
  z-index 15
.default-view
  margin-top 104px
.view
  margin-bottom 2.3rem
