.search-page
  position: fixed
  width 100%
  height 100%
  z-index: 99
  padding-bottom 90px
  .header-other
    position: relative
    flex 1 0 20%
    width: 100%
    z-index: 2
    display flex
    flex-direction: row
    align-items: center
    justify-content space-between
    text-align center
    padding-top: 5px
    padding-bottom: 5px
    background-color: #B72712
    span.back
      flex: 1 0 10%
      i
        display inline-block
        width 20px
        height 20px
        right 15px
        bottom 0
        cursor pointer
        background url(../../common/images/back.svg) no-repeat
        background-size: contain
    .input
      flex: 1 0 90%
      margin-left: 10px
      margin-right: 10px
      border-bottom: 1px solid #fff;
      input
        width 100%
        height 35px
        font-size: 14px
        border 0
        outline 0
        background-color: #B72712
        color: #ffbeb7
        text-decoration: none
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #ffbeb7;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #ffbeb7;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #ffbeb7;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #ffbeb7;
      }
  .hot
    flex 1 0 80%
    padding 10px
    color #6c706f
    font-size 14px
    .keywords
      display flex
      flex-wrap wrap
      padding-top 10px
      list-style none
      font-size 12px
      color #232726
      .keyword
        text-align center
        padding 3px 10px
        margin-right 10px
        margin-bottom 10px
        border-radius 20px
        cursor pointer
        border 1px solid #ccd0cf
        background-color: #fff
      .keyword:hover
        color #fff
        background-color #ccd0cf
  .search-list
    width:100%
    height: 100%
    .vux-swiper,
    .vux-slider,
    .tab-swiper
      height 100%
    .tab-swiper
      background-color #fff
    .search-area
      background-color: #fff;
      width: 100%;
      height: 100%;
      overflow: auto;
      ul
        list-style: none
// 过渡效果
.fade-enter-active,
.fade-leave-active
  transition all .4s;
.fade-enter,
.fade-leave
  transform translate(100%, 0)

