.wrap
  position fixed
  width 100%
  height 100%
  background-color: #fff
  z-index 20
.playlist
  position fixed
  width 100%
  height 100%
  overflow-y auto
  z-index 100
  .fixed-title
    position fixed
    width 100%
    height 5.6rem
    .mu-appbar
      background-color transparent
      height 5.6rem
      .playlist-title
        color #fff
  .playlist-info
    padding-top 5.6rem
    background url('../../../assets/loading.jpg') no-repeat left center
    background-size cover
    .playlist-intro
      display flex
      flex-direction row
      padding-left 1.5rem
      padding-right 1.5rem
      padding-bottom 1.2rem
      .playlist-image
        flex 3
        img
          width 100%
          height 100%
          border-radius 5px
      .playlist-intro-other
        color #fff
        padding-left 1.5rem
        padding-top 0.75rem
        flex 4
        .playlist-title
          display block
          font-size 1.6rem
          padding-bottom 1.5rem
        .playlist-creator
          display flex
          flex-direction row
          align-items center
          img
            width 3rem
            height 3rem
            border-radius 50%
          span
            font-size 1rem
            padding-left 0.3rem
    .playlist-status
      display flex
      flex-direction row
      justify-content space-around
      align-items center
      text-align: -webkit-center;
      text-align center
      color #fff
      padding-bottom 0.6rem
      span
        display block
      span.file
        i
          background url(../../../common/images/file.svg) no-repeat
          background-size: contain
      span.comment
        i
          background url(../../../common/images/comment.svg) no-repeat
          background-size: contain
      span.share
        i
          background url(../../../common/images/share.svg) no-repeat
          background-size: contain
      i
        display inline-block
        width 3rem
        height 3rem
        cursor pointer
  .playlist-holder
    .play-list
      li
        display flex
        flex-direction row
        justify-content center
        align-items center
        align-content center
        .index
          flex 1
          color #818584
          text-align center
          font-size 1.6rem
        .single-info
          flex 6
          display flex
          flex-direction column
          border-bottom 1px solid #e5e9e8
          padding-top 0.45rem
          padding-bottom 0.45rem
          .single-name
            color #191b1a
            font-size 1.6rem
          .single-album
            color #818584
            font-size 1.4rem
// 过渡效果
.fade-enter-active, .fade-leave-active {
  transition: all .4s;
}
.fade-enter, .fade-leave {
  transform: translate(100%, 0);
}
