.playList-detail
  .fixed-close
    position fixed
    width 100%
    height 46px
    z-index 30
    .close-img
      width 30px
      height 30px
      background url(./close.png) no-repeat center center
      background-size 70%
  .wrapper
    width 100%
    padding:70px 10% 50px
    height 95%
    position absolute
    overflow-y auto
    z-index: 12
    display flex
    flex-direction column
    align-items center
    color #fff
    img
      width 70%
    h1
      font-size 16px
      font-weight 500
      margin 20px auto
    .description
      font-size 12px
      align-self flex-start
      margin 20px auto
    .tags
      align-self flex-start
      font-size 12px
      margin-top 20px
      span
        display: inline-block
        border 1px solid#7f7e79
        padding 1px 12px
        border-radius 16px
        margin-right 10px


